<p-dialog header="Buch hinzufügen" [modal]="true" [style]="{width: '30rem'}" [visible]="true" (visibleChange)="close()">
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label for="bookName" class="form-label">Name</label>
      <input type="text" class="form-control" id="bookName" formControlName="bookName" />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Autor</label>
      <input type="text" class="form-control" id="author" formControlName="author" />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Kategorie</label>
      <p-select [options]="possibleCategories" id="category" formControlName="category" class="form-control w-full"></p-select>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preis</label>
      <input type="number" class="form-control" id="price" formControlName="price" />
    </div>
  </form>
  <ng-template #footer>
    <p-button label="Abbrechen" [text]="true" severity="secondary" (click)="close()"></p-button>
    <p-button label="Hinzufügen" [text]="true" severity="success" [disabled]="formGroup.invalid" (click)="addBook()"></p-button>
  </ng-template>
</p-dialog>
